body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/bk4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

    /* Flexbox para centrar el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* altura mínima para ocupar toda la pantalla */
}

.container {
    width: 40%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

label {
    font-size: 16px;
    color: #555;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.boton {
    padding: 10px;
    font-size: 16px;
    background-color: #3498db;
    text-align: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.boton:hover {
    background-color: #288bcd;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #2980b9;
}
